# Kredensial MariaDB/MySQL
MYSQL_ROOT_PASSWORD=masukkan_password_root_disini
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=masukkan_password_db_disini

# Koneksi WordPress ke Database
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=masukkan_password_db_disini
WORDPRESS_DB_NAME=wordpress